<style>
    .bg-light {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand, #navbarNav {
        margin-left: 10px;
        margin-right: 10px;
        transition: 0.5s all ease;
    }

    .navbar-brand {
        color: #77bceb !important;
        font-family: "Pacifico", cursive;
        letter-spacing: 2px;
        margin-top: -5px;
        font-size: 20pt;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

    .nav-link {
        transition: all 0.2s linear;
        display: inline;
        text-decoration: none;
        font-weight: 600;
        padding-bottom: 5px;
        background: linear-gradient(to right, #007DD1 0%, rgb(131, 190, 219) 98%);
        background-size: 0px 2px;
        background-repeat: no-repeat;
        background-position: left 85%;

    }

    .nav-link:hover {
        background-size: 100% 2px;
    }
</style>

<div class="container-fullwidth">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/landing-page/">Lingin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav"
             style="flex-direction: row-reverse;padding: 5px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/update-status/">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-friend/">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Stats</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
