.button {
    border-radius: 5px 15px;
    background-color: #abb7f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button span {
    border-radius: 4px 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

section {
    text-align: center;
}

.todo-form-input {
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5pt;
}

.todo-form-textarea {
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5pt;
}

.form-container {
    text-align: left;
    border-color: #5b80b2;
    display: block;
}

th {
    text-align: center;
}

section {
    color: #6f93ad;
}

.to-do-list {
    text-align: center;
    background-color: #fff5ca;
    position: relative;
    z-index: 15;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.to-do-list:after {
    content: "";
    display: block;
    height: 25px; /* Which is the padding of div.container */
    background: #fff;
}

#my-list {
    margin-top: 15px;
}

.flex {
    width: 100%;
    flex: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    transition: 0.3s;
}

.flex-item {
    width: 25%;
    padding: 15px 15px 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    transition: 0.3s;

}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
    #input-list form {
        width: 290px;
    }

    .flex {
        flex-direction: column;
    }

    .flex-item {
        width: 100%;
        height: auto;
    }

    .icon-bar {
        color: #2a6496;
        transition: 0.3s all;
    }
}

.to-do-list:hover {
    transform: translate(0px, -5px);
    box-shadow: 0 5px 20px 0 #000000;
}

.to-do-list .to-do-list-title {
    font-size: 16px;
    font-weight: 700;
}

.to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 0 10px;
}

.to-do-list .to-do-list-description {
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    height: 125px;
    text-align: justify;
    overflow: auto;
}
