{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <title>CSS</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/add_friend_page.css' %} >
    </head>
    <body>
    <section name="friend">
        <h2 style="color: #39244c; margin-top: 100px">Add Friend</h2>
        <div class="form-container">
            <form id="form" method="POST" action="{% url 'add-friend:add_friend' %}">
                {% csrf_token %}
                {{ friend_form }}
                <br>
                <button type="submit" class="button"><span>Add</span></button>
                <br>
                {% if error %}
                    <p style="color: #ff0007"><strong>Input tidak valid</strong></p>
                {% endif %}
            </form>
        </div>
    </section>
    <h2>Friends</h2>
    <section name="my-list" id="my-list">
        <div class="container">
            <div class="flex">
                {% if friends %}
                    {% for data in friends %}
                        <div class="flex-item">
                            <div class="to-do-list">
                                <div class="to-do-list-title">
                                    {{ data.name }}
                                </div>
                                <div class="to-do-list-date-added">
                                    {{ data.created_date }}
                                </div>
                                <div class="to-do-list-description">
                                    <a href={{ data.url }}>{{ data.url }}</a>
                                </div>
                                <div class="to-do-list-delete">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    </body>
    </html>
{% endblock %}