
.button {
    background-color: #F5F0DA; /* Green */
    border: none;
    color: red;
    text-align: center;
    display: inline-block;
}
.button {
  display: inline-block;
  border-radius: 0px;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  transition: all 0.25s;
  cursor: pointer
  margin: 8px;
}

.button2 {
 display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: black;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s;
  cursor: pointer
  margin: 5px;


}

.button:hover {
    background-color: #f4511e;
    color: white;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.1s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.img-circle {
	width: 200px;
    height: 200px;
    border-radius: 50%;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.3s;
}

.button2:hover span {
  padding-right: 20px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}


.button2 {
    background-color: #f4511e; 
    color: black; 
}

.button2:hover {
    background-color: #f4511e;
    color: white;
}

@media only screen and (max-width: 768px) {
  tbody{
  	font-size: 17pt !important;
  	width: 100%;
  }
  button{
  	font-size: 17pt !important;
  }
}
