<p>{% extends "base.html" %} {% block content %} {% load staticfiles %} {% load static %}</p>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_tag.css' %}" />
<div class="container"><form class="form-horizontal"><fieldset><!-- Form Name --> <legend>My Profile-&gt; user profile-&gt;exhibition</legend> <!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="textinput">Nama</label>
<div class="col-md-4"><input id="textinput" class="form-control input-md" name="textinput" type="text" placeholder="name" /></div>
</div>
<div class="control-group"><label class="control-label" for="selectbasic">Gender</label>
<div class="controls"><select id="selectbasic" class="input-xlarge" name="selectbasic">
<option>Select</option>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="textinput">date</label>
<div class="col-md-4"><input id="textinput" class="form-control input-md" name="textinput" type="text" placeholder="date attended" /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="textinput">Expertise</label><br>
 {% for data in expertise %}
<input type="checkbox" name="vehicle" value="Bike">{{data}}<br>
{% endfor %}
 </div>
</div>
<!-- Select Basic -->
<div class="form-group"><label class="col-md-4 control-label" for="selectbasic">country</label>
<div class="col-md-4"><select id="selectbasic" class="form-control" name="selectbasic">
<option value="1">1</option>
<option value="2">2</option>
</select></div>
</div>
<!-- Textarea -->
<div class="form-group"><label class="col-md-4 control-label" for="textarea">trade show introduction</label>
<div class="col-md-4"><textarea id="textarea" class="form-control" name="textarea">trade show introduction</textarea></div>
</div>
<!-- File Button -->
<div class="form-group"><label class="col-md-4 control-label" for="filebutton">upload photo</label>
<div class="col-md-4"><input id="filebutton" class="input-file" name="filebutton" type="file" /></div>
</div>
<!-- Button -->
<div class="form-group"><label class="col-md-4 control-label" for="singlebutton"></label>
<div class="col-md-4"><button id="singlebutton" class="btn btn-primary" name="singlebutton">submit</button></div>
</div>
</fieldset></form></div>