{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<h1 style="text-align: center;">a</h1>
<div style="text-align: center;"><img class="img-circle" style="border-radius: 50%; height: 200px; width: 200px" src="https://vignette2.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928"/></div>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<hr />
<section>
<h2 style="font-weight: bold;" align="center"> Profile {{name}}</h2>
</section>
<hr />
<section style="margin: auto;" id='table'>
<table style="width: 547px; height: 122px; text-align: left;" align="center">
<tbody>
<tr>
<td style="width: 169.2px;">Birthday</td>
<td style="width: 356.8px;">{{ birthday }}</td>
</tr>
<tr>
<td style="width: 169.2px;">Gender</td>
<td style="width: 356.8px;">{{ gender }}</td>
</tr>
<tr>
<td style="width: 169.2px;">Expertise</td>
<td style="width: 356.8px;">{% for data in expertise %}
<button class="button" style="vertical-align:middle"><span>{{data}}</span>
{% endfor %}
</tr>
<tr>
</td>
<td style="width: 169.2px;">Description</td>
<td style="width: 356.8px;">{{ description }}</td>
</tr>
<tr>
<td style="width: 169.2px;">Email</td>
<td style="width: 356.8px;">{{ email }}</td>
</tr>
</tbody>
</table>
</section>
<hr />
<p>{% endblock %}</p>
