{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <title>CSS</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/dashboard.css' %}>
    </head>
    <body>
    <section style="text-align: center; margin: auto;">
        <img alt="my image" src='https://vignette.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928'
             style="width: 300px;height: 300px; margin-top: 75px; border-radius: 50%;">
    </section>
    <section style="text-align: center; margin: auto">
        <h4 style="text-align: center;">{{ name }}</h4>
        <table class="table-hover">
            <thead>
            <tr>
                <th style="width: 100px">

                    <img src="https://media-public.canva.com/MAAWVHfQp6c/1/thumbnail.png" class="icon" align="left">
                    {{ friend }}
                </th>
                <th>
                    <img src="https://media-public.canva.com/MABIMfSXGQg/1/thumbnail.png" class="icon" align="left">
                    {{ feed }}
                </th>
            </tr>
            </thead>
        </table>
    </section>
    <hr/>
    <section>
        {% if latest != '' %}
            <div class="card">
                <p><img class= "rounded-circle" src='https://vignette.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928'
                        align="left">Latest Post: '{{ latest }}' on {{ date }} </p>
            </div>
        {% endif %}
    </section>
    </body>
    </html>
{% endblock %}